[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git

[submodule "themes/nightfall"]
	path = themes/nightfall
	url = https://github.com/sid-008/custom_hugo_theme
